ErrorDocument 404 /ncms-system/error/index?error=404
ErrorDocument 500 /ncms-system/error/index?error=500
ErrorDocument 403 /ncms-system/error/index?error=403

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html